{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NepScan</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'font-awesome//css/font-awesome.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/agency.min.css' %}" type="text/css">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">NepScan</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To NepScan!</div>
          <div class="intro-heading text-uppercase">Digitize your document</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Get Started</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 section-left-bar">
            <a href="#train" class="btn btn-primary btn-xl train-button" data-toggle="collapse">Train Model</a>
            <a href="#predict" class="btn btn-primary btn-xl predict-button" data-toggle="collapse">Predict Text</a>
          </div>
          <div class="col-md-9 section-right-bar">
            <div class="service-body collapse in" id="train">
              <h4>In Train model</h4>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
              </div>
                <div>
                    <a href="#" class="btn btn-primary btn-md train-button">Train</a>
                </div>
                <div>
                    <i class="fa fa-spinner" style="font-size:64px; color:#FFC400"></i>
                    <h5 id="loading-text">This may take few minutes. Please wait!</h5>
                </div>
            </div>
            <div class="service-body collapse" id="predict">
              <h4>In Predict model</h4>
            </div>
        </div>
      </div>
    </section>


    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-sm-2">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/1.jpg' %}" alt="">
              <h5>Basanta Chaulagain</h5>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/2.jpg' %}" alt="">
              <h5>Bipin Khatiwada</h5>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/3.jpg' %}" alt="">
              <h5>Bishal Chaulagain</h5>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/4.jpg' %}" alt="">
              <h5>Sagar Bhusal</h5>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{% static 'img/team/5.jpg' %}" alt="">
              <h5>Shubham Tiwari</h5>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; NepScan 2018</span>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'jquery-easing/jquery.easing.min.js' %}"></script>


    <!-- Contact form JavaScript -->
    <script type="text/javascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{% static 'js/agency.min.js' %}"></script>

  </body>

</html>
